CMakelists.txt
**/build/
**/pico-sdk/
# Matias uses these for LSP
**/compile_commands.json
.clang*
**/.cache*
# If we fuck with bash scripts
*.sh
# you should set up your broker any way you wish
mqtt_broker/*
# minicom log format
*.cap
*.txt
!CMakeLists.txt

